---
import Layout from '../layouts/Layout.astro'
import * as tailyUI from 'taily-ui'

const month = new Date().getMonth()
const day = new Date().getDate()
const year = new Date().getFullYear()
const monthNames = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]
function getDate(date: Date) {
    return [date.getDate().toString(), monthNames[date.getMonth()], date.getFullYear().toString()]
}
export async function getStaticPaths() {
    return [undefined, 'default', 'primary', 'secondary', 'success', 'warning', 'error', 'ghost'].map((theme) => ({
        params: { theme }
    }))
}
const { theme } = Astro.params
const colorTheme = (theme as 'default' | 'primary' | 'secondary' | 'success' | 'warning' | 'error' | 'ghost') ?? 'error'
---

<Layout
    title="Welcome to Neuroly"
    description="AI chatbot based on 56B tokens LLM, powered by speech-to-text and voice synthesis."
    color={colorTheme}
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: 'M5.658 5.1088a.971.971-37 00-.3166.7231L5.2985 23.0011l3.2337-2.4367.0305-12.0397 4.9934 3.4245.0057-2.352-6.6784-4.5788a.983.983-37 00-1.2258.0898zM15.4779 3.3599l-.0305 12.0397-4.9934-3.4245-.0057 2.352 6.6784 4.5788a.987.987-37 001.5422-.8115L18.7112.921z',
                title: 'Neuroly',
                color: colorTheme,
                text: [
                    { type: 'default', value: 'Generate' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'ideas with smart, personalized assistant fully trained for creative'
                    },
                    { type: 'secondary', value: 'conversations' }
                ],
                description: 'AI chatbot based on 56B tokens LLM, powered by speech to text and voice synthesis.',
                button: {
                    title: 'Say hello',
                    link: '#kpi'
                },
                github: 'https://github.com/nikdelvin/neuroly'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Tuning parameters',
                color: colorTheme,
                cards: [
                    { title: '56B', description1: 'tokens in', description2: 'model' },
                    { title: '0.7M', description1: 'train-hours of', description2: 'speech' },
                    { title: '57', description1: 'languages to', description2: 'listen' },
                    { title: '16', description1: 'languages to', description2: 'speak' }
                ],
                button: {
                    title: 'Make it better',
                    link: '/'
                }
            })}
        />
        <fragment
            id="features"
            set:html={tailyUI.FeatureCards({
                title: 'Chatbot who listens',
                color: colorTheme,
                reverse: false,
                featureTitle: 'Recognize',
                featureDescription: [
                    { type: 'default', value: 'The way' },
                    { type: 'primary', value: 'you' },
                    { type: 'default', value: 'ask all exciting' },
                    { type: 'primary', value: 'questions' }
                ],
                featureOptions: [
                    '56 billion tokens and 700,000 training hours AI model resulting in cutting-edge speech recognition',
                    'Contextual understanding that goes beyond simple keywords, allowing for more natural, engaging conversations, and personalized interaction',
                    'Professional fluency in 57 diverse languages with a wide range from English to Mandarin Chinese'
                ],
                button: {
                    title: 'Ask your question',
                    link: '#features_2'
                }
            })}
        />
        <fragment
            id="features_2"
            set:html={tailyUI.FeatureCards({
                title: 'Chatbot who speaks',
                color: colorTheme,
                reverse: true,
                featureTitle: 'Answer',
                featureDescription: [
                    { type: 'default', value: 'In a way' },
                    { type: 'secondary', value: 'you' },
                    { type: 'default', value: 'can easily listen &' },
                    { type: 'secondary', value: 'understand' }
                ],
                featureOptions: [
                    'More than 20 unique multilingual AI voices trained with help of experienced voice actors to sound real',
                    'Adaptive tone and speaking style that adjusts to the context of conversation, mirroring your emotions and energy levels, keeping conversation flowing naturally',
                    "Customize scenario script of the model persona's backstory to get more immersive conversations"
                ],
                button: {
                    title: 'Get your answer',
                    link: '#stages'
                }
            })}
        />
        <fragment
            id="stages"
            set:html={tailyUI.Jobs({
                title: 'Project roadmap',
                color: colorTheme,
                jobs: [
                    {
                        from: getDate(new Date()),
                        to: getDate(new Date(Date.now() + 3 * 30 * 24 * 60 * 60 * 1000)),
                        title: 'Phase I: Multilingual foundation',
                        description: [
                            { type: 'default', value: 'Core for' },
                            { type: 'primary', value: 'speech' },
                            { type: 'default', value: 'recognition &' },
                            { type: 'primary', value: 'NLP' },
                            { type: 'default', value: 'engine' }
                        ],
                        role: [
                            'Diverse language dataset of speech and text in 57 languages with representation of various accents, dialects, and speaking styles',
                            'Transformer-based architecture for speech recognition and NLP tasks, capable of handling multilingual input and large-scale training',
                            'Evaluation metrics, hyperparameter tuning, and data augmentation to achieve professional fluency & accuracy across all 57 languages'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (3 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (6 * 30 + 1) * 24 * 60 * 60 * 1000)),
                        title: 'Phase II: Personality customization',
                        description: [
                            { type: 'default', value: 'Emotions,' },
                            { type: 'primary', value: 'adaptive' },
                            { type: 'default', value: 'tone and' },
                            { type: 'primary', value: 'speaking' },
                            { type: 'default', value: 'style' }
                        ],
                        role: [
                            'Sentiment analysis capabilities integration allows model to detect and interpret emotions expressed in text or speech accurately',
                            'A wide library of unique AI voices prepared by experienced voice actors representing diverse language backgrounds & acting styles',
                            'Tool for defining and customizing AI personalities allows users to select or create personalities that align with their preferences'
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (6 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (9 * 30 + 2) * 24 * 60 * 60 * 1000)),
                        title: 'Phase III: Contextual awareness',
                        description: [
                            { type: 'default', value: 'Topics' },
                            { type: 'primary', value: 'perception' },
                            { type: 'default', value: '& proactive' },
                            { type: 'primary', value: 'suggestions' }
                        ],
                        role: [
                            'Coreference resolution capabilities integration to accurately track entities across multiple sentences, ensuring reference accuracy',
                            'Algorithm to track evolution of topics throughout the conversation, recognizing shifts in focus and adapting its responses accordingly',
                            "System to retrieve and present personalized content like articles, recommendations, and data based on user's interests and context"
                        ]
                    },
                    {
                        from: getDate(new Date(Date.now() + (9 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        to: getDate(new Date(Date.now() + (12 * 30 + 3) * 24 * 60 * 60 * 1000)),
                        title: 'Phase IV: Advanced interaction',
                        description: [
                            { type: 'default', value: 'Seamless' },
                            { type: 'primary', value: 'language' },
                            { type: 'default', value: '& text formats' },
                            { type: 'primary', value: 'switching' }
                        ],
                        role: [
                            'Cross-lingual transfer learning to enhance the AI model ability to understand and respond appropriately in multilingual conversations',
                            'Normalization of text input to handle variations in spelling, punctuation, grammar and allowing for consistent processing',
                            'Switching engine for seamless transitions between languages and text formats in real-time, without interrupting flow of conversation'
                        ]
                    }
                ]
            })}
        />
        <fragment
            id="footer"
            set:html={tailyUI.Footer({
                color: colorTheme,
                blocks: [
                    {
                        title: 'About creator',
                        text: [
                            { type: 'default', value: `Hi, I'm` },
                            { type: 'primary', value: 'Nikita Stadnik' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I'm a passionate and ambitious` },
                            { type: 'primary', value: 'Fullstack Web Developer' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'My love is' },
                            { type: 'primary', value: 'developing' },
                            { type: 'default', value: 'cross-platform applications from zero to production' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: `I've mastered` },
                            { type: 'primary', value: 'T-shaped skills' },
                            { type: 'default', value: `that help me work solo on my own big projects` }
                        ]
                    },
                    {
                        title: 'Contacts',
                        text: [
                            { type: 'default', value: 'Email:' },
                            {
                                type: 'primary',
                                value: 'the@nikdelv.in',
                                link: 'mailto:the@nikdelv.in',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Github:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://github.com/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'DEV Blog:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://dev.to/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Behance:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.behance.net/nikdelvin',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Telegram:' },
                            { type: 'primary', value: '@nikdelvin', link: 'https://t.me/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'LinkedIn:' },
                            {
                                type: 'primary',
                                value: '@nikdelvin',
                                link: 'https://www.linkedin.com/in/nikdelvin',
                                newPage: true
                            }
                        ]
                    },
                    {
                        title: 'Projects',
                        text: [
                            { type: 'primary', value: 'TailyUI', link: 'https://tailyui.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Modern UI Library 100% built and animated with pure Tailwind CSS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Brodly', link: 'https://brodly.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>High-secure and fully anonymous live streaming platform for everyone'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Neuroly', link: 'https://neuroly.by.nikdelv.in', newPage: true },
                            { type: 'default', value: '<br/>STT and voice synthesis AI chatbot' }
                        ]
                    },
                    {
                        title: 'Coming soon',
                        text: [
                            { type: 'primary', value: 'Scripty', link: 'https://scripty.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Practice-oriented educational platform to learn JavaScript & WebDev'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Feelicy', link: 'https://feelicy.by.nikdelv.in', newPage: true },
                            {
                                type: 'default',
                                value: '<br/>Mind mapping and goal planning service in game format of Garden Sim'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            {
                                type: 'primary',
                                value: 'Scientry',
                                link: 'https://scientry.by.nikdelv.in',
                                newPage: true
                            },
                            { type: 'default', value: '<br/>Data management & visualization tool' }
                        ]
                    },
                    {
                        title: 'Experience',
                        text: [
                            {
                                type: 'primary',
                                value: `17.05.22 - ${String(day).padStart(2, '0')}.${String(month + 1).padStart(2, '0')}.${String(year).slice(2)}:`
                            },
                            { type: 'default', value: 'BSO Real Estate Management.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Team leader / DevOps / Backend developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Cross-platform mobile app & internal ERP system.' },
                            { type: 'primary', value: 'Info', link: 'https://bso.ae', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '19.01.21 - 11.05.22:' },
                            { type: 'default', value: 'WhatCRM by LifeTelecom.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Frontend Next.JS / React web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Custom WhatsApp Web client as an integration for CRMs.' },
                            { type: 'primary', value: 'Info', link: 'https://whatcrm.net/en', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '25.05.19 - 13.01.21:' },
                            { type: 'default', value: 'Unistroy Construction.' },
                            { type: 'primary', value: 'Role:' },
                            { type: 'default', value: 'Fullstack React / Python web developer.' },
                            { type: 'primary', value: 'Product:' },
                            { type: 'default', value: 'Big-data service for analyzing counterparties affiliations.' },
                            { type: 'primary', value: 'Info', link: 'https://github.com/nikdelvin', newPage: true },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'Total time on development "battlefield":' },
                            {
                                type: 'primary',
                                value: `${Math.floor((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24) / 365)}`
                            },
                            { type: 'default', value: 'years and' },
                            {
                                type: 'primary',
                                value: `${Math.floor(((Date.now() - Date.parse('25 May 2019 00:00:00 GMT')) / (1000 * 60 * 60 * 24)) % 365)}`
                            },
                            { type: 'default', value: 'days' }
                        ]
                    },
                    {
                        title: 'Skills',
                        text: [
                            { type: 'primary', value: 'Languages:' },
                            { type: 'default', value: 'JavaScript, TypeScript, HTML 5, CSS 3, Python, Java, Swift' },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Frameworks:' },
                            {
                                type: 'default',
                                value: 'React, Solid, Astro, Next, Svelte, Vue, Nuxt, Nest, Electron, Flask'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: 'Libraries:' },
                            {
                                type: 'default',
                                value: 'Bootstrap, Tailwind, Formik, Redux, Recoil, GSAP, Framer, Three.JS'
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'default', value: 'And more other deeply learned' },
                            { type: 'primary', value: 'tools', link: '#skills' }
                        ]
                    },
                    {
                        title: 'Articles',
                        text: [
                            { type: 'primary', value: '04.08.20:' },
                            {
                                type: 'default',
                                value: 'Modified genetic algorithm as a new approach for solving the problem of 3d packaging.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ceur-ws.org/Vol-2667/paper21.pdf',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '24.12.21:' },
                            {
                                type: 'default',
                                value: 'Development of an information system for organizing the work of a production workshop.'
                            },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/9649154',
                                newPage: true
                            },
                            { type: 'default', value: '<div style="padding:8px;"></div>' },
                            { type: 'primary', value: '03.11.23:' },
                            { type: 'default', value: 'Comprehensive simulation model of city transport network.' },
                            {
                                type: 'primary',
                                value: 'Read',
                                link: 'https://ieeexplore.ieee.org/document/10303830',
                                newPage: true
                            }
                        ]
                    }
                ]
            })}
        />
    </main>
</Layout>
<style is:global>
    :root::-webkit-scrollbar {
        display: none !important;
    }
    :root::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    :root::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar {
        display: none !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-thumb {
        background-color: transparent !important;
    }
    .overflow-x-scroll::-webkit-scrollbar-track {
        background-color: transparent !important;
    }
</style>
